html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #23262F;
  background: #FCFCFD;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #E6E8EC;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  width: 362px;
}
.header__logo {
  margin-right: 32px;
}
.header__logo::after {
  content: "";
  position: absolute;
  margin-left: 32px;
  width: 2px;
  height: 40px;
  background: #E6E8EC;
  border-radius: 2px;
}
.header__nav {
  margin-left: 32px;
  width: 50%;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 573px;
}
.header__input {
  margin-right: 24px;
}
.header__input input {
  padding: 10px 12px 10px 16px;
  border-radius: 8px;
}
.header__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  font-family: "DM Sans", sans-serif;
  color: #777E91;
}
.main-nav__item_active {
  color: #23262F;
}
.main-nav__link {
  text-decoration: none;
}

.input {
  border: 2px solid #E6E8EC;
}
.input__search {
  background: url(../../assets/icons/search.svg) 92% center no-repeat;
  font-weight: 400;
  font-size: 12px;
  width: 256px;
}

.btn {
  border: none;
  text-decoration: none;
  border-radius: 90px;
  font-family: "DM Sans", serif;
}
.btn__bell {
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/bell.svg") center no-repeat;
}
.btn__bell_active:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #45B36B;
  border-radius: 8px;
  top: 0;
  right: 0;
}
.btn__filled {
  background: #3772FF;
  color: #FCFCFD;
}
.btn__outlined {
  border: 2px solid #E6E8EC;
  background: transparent;
  padding: 12px 16px;
}
.btn__upload {
  padding: 12px 16px;
  font-family: "DM Sans", serif;
}
.btn__start-seacrh {
  font-size: 16px;
  padding: 16px 24px;
}
.btn__place-bid {
  padding: 16px 0;
  margin-bottom: 8px;
}
.btn__arrow {
  width: 40px;
  height: 40px;
}
.btn__arrow-left {
  background: url("../../assets/icons/arrow.svg") center no-repeat;
  transform: rotate(-180deg);
}
.btn__arrow-right {
  background: url("../../assets/icons/arrow.svg") center no-repeat;
}

.first-section {
  margin-top: 128px;
}
.first-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section__subtitle {
  color: #777E91;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 8px;
}
.first-section__title {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  font-family: "DM Sans", serif;
}

.main-page {
  margin-top: 126px;
}
.main-page__wrapper {
  display: flex;
  justify-content: space-between;
}
.main-page__img-block {
  max-width: 640px;
}
.main-page__info {
  width: 352px;
}
.main-page__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page__info-block__item {
  padding-left: 48px;
}
.main-page__info-block__item-grayText {
  color: #777E91;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.main-page__info-block__item-blackText {
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
.main-page__info-block__item1 {
  background: url("../../assets/icons/avatar-medium.png") left center/contain no-repeat;
}
.main-page__info-block__item2 {
  background: url("../../assets/icons/price-icon.svg") left center/contain no-repeat;
}
.main-page__title {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  margin: 0 0 20px 0;
}
.main-page__card {
  margin-top: 40px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 2px solid #E6E8EC;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
}
.main-page__card-upTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.main-page__card-title {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}
.main-page__card-price {
  font-weight: 600;
  font-size: 24px;
  color: #777E91;
  margin: 0 0 24px 0;
}
.main-page__card-descr {
  font-weight: 500;
  margin: 0 0 8px 0;
}
.main-page__card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page__card__time {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page__card__time-bold {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  line-height: 40px;
}
.main-page__card__time-semibold {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #777E91;
  margin: 0;
}
.main-page__btns {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page__btn {
  width: 100%;
}
.main-page__arrows {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
}

.third-section {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.third-section__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.third-section__left-img {
  max-width: 448px;
  margin-bottom: 24px;
}
.third-section__left-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  background: url("../../assets/images/avatar-white-big.png") left center no-repeat;
}
.third-section__left-wrapper p {
  margin: 0;
}
.third-section__left-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.third-section__left-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #353945;
}
.third-section__left-bidName {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.third-section__left-price {
  display: inline-block;
  padding: 8px 8px 6px;
  border: 2px solid #45B36B;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #45B36B;
  margin: 0;
}
.third-section__left-small {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 32px;
}
.third-section__left-item {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  max-width: 351px;
}
.third-section__left-item:last-child {
  margin-bottom: 0;
}
.third-section__left-img-small {
  border-radius: 12px;
}
.third-section__left-miniWrapper {
  margin-left: 24px;
}
.third-section__left-title-mini {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 8px 0;
}
.third-section__left-wrapper-mini {
  padding-left: 35px;
  height: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.third-section__left-wrapper-mini-1 {
  background: url("../../assets/images/avatar-violet.png") left center/contain no-repeat;
}
.third-section__left-wrapper-mini-2 {
  background: url("../../assets/images/avatar-yellow.png") left center/contain no-repeat;
}
.third-section__left-wrapper-mini span {
  font-size: 14px;
  line-height: 24px;
  color: #777E91;
  margin-left: 11px;
}
.third-section__left-btn {
  padding: 8px 12px;
}
.third-section__right {
  display: flex;
  flex-direction: column;
}
.third-section__right-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
  margin: 0 0 24px 0;
}
.third-section__right-item {
  padding: 24px 0 25px 0;
  border-top: 1px solid #E6E8EC;
  position: relative;
}
.third-section__right-item-1 {
  border-top: none;
}
.third-section__right-item p {
  margin: 0;
}
.third-section__right-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 72px;
  height: 56px;
}
.third-section__right-inner::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #23262F;
  border-radius: 50%;
  color: #FCFCFD;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid white;
  top: 19px;
  left: -4px;
}
.third-section__right-inner-1 {
  background: url("../../assets/images/avatar-violet.png") left center/contain no-repeat;
}
.third-section__right-inner-1::before {
  content: "6";
}
.third-section__right-inner-2 {
  background: url("../../assets/images/avatar-white.png") left center/contain no-repeat;
}
.third-section__right-inner-2::before {
  content: "2";
}
.third-section__right-inner-3 {
  background: url("../../assets/images/avatar-red.png") left center/contain no-repeat;
}
.third-section__right-inner-3::before {
  content: "3";
}
.third-section__right-inner-4 {
  background: url("../../assets/images/avatar-yellow.png") left center/contain no-repeat;
}
.third-section__right-inner-4::before {
  content: "4";
}
.third-section__right-btn {
  margin-top: 7px;
}

/*# sourceMappingURL=style.css.map */
