@use "_colors.scss"as *;

@mixin xlg {
  @media screen and (max-width: 1338px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mdL {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}