@use "../var/colors"as *;
@use "../var/mixins"as *;

.collections {
  background: $lightGray;
  padding: 128px 0;
  position: relative;
  &::before {
    @include lg {
      content: '';
      width: 40px;
      height: 40px;
      top: 10%;
      left: 87%;
      position: absolute;
      background: url("../../assets/icons/arrow.svg") center center no-repeat;
      transform: rotate(-180deg);
    }
    @include sm {
      top: 94%;
      left: 42%;
    }
  }
  &::after{
    @include lg {
      content: '';
      width: 40px;
      height: 40px;
      top: 10%;
      left: 93%;
      position: absolute;
      border: 2px solid #E6E8EC;
      border-radius: 50%;
      background: url("../../assets/icons/arrow.svg") center center no-repeat;
      @include sm {
        top: 94%;
        left: 55%;
      }
    }
  }
  @include md {
    padding: 64px 0 136px;
  }

  &__wrapper {
    @include flex;
    @include lg {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__header {
    margin-bottom: 80px;
  }
  &__item {
    margin: 5px;
    @include lg {
      margin: 10px;
    }
  }

  &__info {
    margin-top: 16px;
    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin: 0
    }
    &-bottom {
      margin-top: 8px;
      @include flex;
      padding-left: 36px;
      background: url("../../assets/images/avatar-mini.png") center left  no-repeat;
    }
    &-author {
      font-weight: 500;
      line-height: 24px;
      color: $darker;
      span {
        font-weight: 400;
      }
    }
    &-more {
      padding: 8px 8px 6px;
      border: 2px solid #E6E8EC;
      border-radius: 4px;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}