@use "../var/colors"as *;
@use "../var/mixins"as *;

.sellers {
  padding: 128px 0;
  background: $lightGray;
  position: relative;
  &::before {
    content: '';
    width: 40px;
    height: 40px;
    top: 58%;
    left: 5%;
    position: absolute;
    background: url("../../assets/icons/arrow.svg") center center no-repeat;
    transform: rotate(-180deg);
    @include xlg {
      top: 90%;
      left: 44%;
    }
    @include sm {
        content: none;
    }
  }
  &::after {
    content: '';
    width: 40px;
    height: 40px;
    top: 58%;
    left: 92%;
    position: absolute;
    border: 2px solid #E6E8EC;
    border-radius: 50%;
    background: url("../../assets/icons/arrow.svg") center center no-repeat;
    @include xlg {
      top: 90%;
      left: 53%;
    }
    @include sm {
      content: none;
    }
  }
  &__header {
    @include flex;
    margin-bottom: 64px;
    @include md {
      flex-direction: column;
      align-items: start;
    }
  }

  &__left {
    @include md {
      margin-bottom: 48px;
    }
    &-up {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $gray;
    }

    &-down {
      border: none;
      font-family: 'DM Sans', serif;
      font-size: 40px;
      padding-right: 48px;
      background: url("../../assets/icons/arrow-down.svg") right center no-repeat;
    }
  }

  &__right {
    padding: 8px 8px 8px 16px;
    width: 256px;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: $white url("../../assets/icons/arrow-gray-down.svg") no-repeat 96% center;
  }

  &__wrapper {
    @include flex;
    align-items: start;
    flex-wrap: wrap;
    @include sm {
      justify-content: center;
    }
  }

  &__item {
    padding: 24px;
    background: $white;
    border-radius: 16px;
    box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
    flex-basis: 198px;
    margin: 5px;

    @include lg {
      &:last-child {
        display: none;
      }
    }

    &-header {
      height: 48px;
      padding-bottom: 24px;
      border-bottom: 1px solid #E6E8EC;
      background: url("../../assets/icons/plus-arrow.svg") right top no-repeat;
      position: relative;
      margin-bottom: 24px;
    }

    &-header::before {
      content: '';
      width: 60px;
      height: 24px;
      top: 1px;
      left: 1px;
      position: absolute;
    }

    &-header1::before {
      background: url("../../assets/icons/badge-1.svg") left top no-repeat;
    }

    &-header2::before {
      background: url("../../assets/icons/badge-2.svg") left top no-repeat;
    }

    &-header3::before {
      background: url("../../assets/icons/badge-3.svg") left top no-repeat;
    }

    &-header4::before {
      background: url("../../assets/icons/badge-4.svg") left top no-repeat;
    }

    &-header5::before {
      background: url("../../assets/icons/badge-5.svg") left top no-repeat;
    }

    &-content {
      padding-top: 80px;
      text-align: center;
    }

    &-content1 {
      background: url("../../assets/icons/seller-1.png") no-repeat center top;
    }

    &-content2 {
      padding-top: 96px;
      background: url("../../assets/icons/seller-2.png") no-repeat center top;
    }

    &-content3 {
      background: url("../../assets/icons/seller-3.png") no-repeat center top;
    }

    &-content4 {
      background: url("../../assets/icons/seller-4.png") no-repeat center top;
    }

    &-content5 {
      background: url("../../assets/icons/seller-5.png") no-repeat center top;
    }

    &-author {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 2px;
    }

    &-price {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: $darker;
      margin: 0;
    }

    &-price span {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: $gray;
    }

  }
}